:root {
    --primary: #FEA116;
}

body {
    background-color: rgba(240,240,232,255);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(240,240,232,255);
    background-color: #2b2823;
}

/*-----------menu------------*/
.menu {
    width: 33%;
    display: flex;
}

.panel-menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #cc3917;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: rgba(173,195,206,255);
}

.panel-menu a {
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: rgba(240,240,232,255);
    display: block;
    transition: 0.3s;
}

.panel-menu a:hover {
    background-color: rgba(173,195,206,255);
}

.boton-menu {
    background-color: transparent;
    color: rgba(240,240,232,255);
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

.boton-menu:hover {
    background-color: #cc3917;
}

.boton-menu img {
    width: 20px;
    height: 20px;
}

.boton-menu:focus + .panel-menu {
    width: 250px;
}

/*------------fin menu-----------*/

.logo {
    width: 33%;
    display: flex;
    justify-content: center;
}

/*------------boton para ir al login-----------*/

.login{
    width: 33%;
    display: flex;
    justify-content: end;
}

.login button {
    background-color: transparent;
    color: rgba(240,240,232,255);
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

.login button:hover {
    background-color: #cc3917;
}

/*------------fin login-----------*/

.container {
    background-color: #d4ceaa;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px auto 0 auto;
    border-radius: 20px;
}
.page-title {
    text-align: center;
    padding: 20px 0;
    color: #cc3917;
}

.room-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.image-container {
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
}

.description {
    text-align: center;
    padding-top: 10px;
}

.book-now-link {
    text-decoration: none;
    color: #FEA116;
    font-weight: bold;
}
